<body class="bd-landing">
	<app-sd-header></app-sd-header>
	
  <div class="contents">
  	<div class="sub-banner">
  		<h4 class="titles">List Manager</h4>
  	</div>
  	<div class="white-panel">
      <div class="top-bar">
        <div class="tab-nav clearfix">
          <app-lists-filter></app-lists-filter>
        </div>
      </div>                    
      <div class="tab-content clearfix">
        <app-lists></app-lists>
      </div>
  	</div>
  </div>
  
  <app-sd-footer></app-sd-footer>
</body>