<header class="header">
  <div class="left-logo clearfix">
	  <a href="javascript:;" class="logo-btn">
		  <img src="./assets/i/logo.jpg" alt="logo" />
		  <span class="txt-area">
			  <span class="green-txt">Merlin</span>
			  <span class="gray-txt">analysis tool</span>
		  </span>
	  </a>
	  <nav class="nav-tab">
		  <ul>
			  <li id="tipStep1" routerLinkActive="active">
				  <a [routerLink]="['/dashboard-page']">
					  <i class="icons icon-dashboard"></i>
					  <span class="txt">Query Dashboard</span>
				  </a>
			  </li>
			  <li id="tipStep2" routerLinkActive="active">
				  <a [routerLink]="['/list-manager']">
					  <i class="icons icon-manager"></i>
					  <span class="txt">List Manager</span>
				  </a>
			  </li>
			  <li id="tipStep3" routerLinkActive="active">
				  <a [routerLink]="['/saved-queries']">
					  <i class="icons icon-saved"></i>
					  <span class="txt">Saved Queries</span>
				  </a>
			  </li>
			  <li routerLinkActive="active">
				  <a [routerLink]="['/about']">
					  <i class="icons icon-about"></i>
					  <span class="txt">About</span>
				  </a>
			  </li>
		  </ul>
	  </nav>
  </div>
  <!--end .left-logo-->
  <div class="right-area">
	  <span class="user-name">
		  <span class="gray-txt">Welcome,</span>
		  <span class="user-name">Andrew Smith</span>
	  </span>
	  <!--end .user-name-->
	  <a href="javascrpt:;" class="user-photo">
		  <img src="./assets/i/user-photo.jpg" alt="photo" />
	  </a>
	  <div class="notific-wrapper">
		  <a href="javascript:;" class="btn-bell">
			  <i class="icons icon-bell"></i>
			  <span class="num"></span>
		  </a>
	  </div>
	  <a href="javascript:;" class="btn-logout">
		  <i class="icons icon-logout"></i>
	  </a>
  </div>
  <!--end .right-area-->
</header>
<!-- end header -->