@import '../../../styles/variables';

.load-save-modal {
    .node-dialog {
        width: 500px;
    }
}
/* .node-dialog */
.node-dialog {
    width: 592px;
    background: transparent;
    border: solid 8px rgba(255,255,255,0.2);
    border-radius: 14px;
    overflow: hidden;
    max-width: 592px;
    .modal-content {
        padding: 20px 20px 30px;
        background-color: $whiteColor;
        border: 0;
        width: auto;
        .modal-header {
            border-bottom: none;
            display: initial;
            height: 30px;
            padding: 0;
            margin-bottom: 10px;
            .icon-close {
                display: block;
                float: right;
                width: 32px;
                height: 32px;
                background-position: -96px -96px;
            }
        }
        .pic {
            width: 76px;
            height: 88px;
            margin: 0 auto 15px;
            .icons {
                width: 76px;
                height: 88px;
                &.icon-del-red {
                    background-position: -222px -211px;
                }
                &.icon-del {
                    background-position: -123px -211px;
                }
                &.icon-save {
                    background-position: -11px -219px;
                    width: 82px;
                    height: 82px;  
                }
            }
        }
        .txt {
            text-align: center;
            font-size: 18px;
            color: $lightGrayLabelColor;
            margin-bottom: 20px;
            font-weight: 100;
            strong {
                color: $blackColor;
                font-weight: 600;
            }
        }
        .bottom-btn {
            text-align: center;
            justify-content: center;
            padding-top: 0;
            height: auto;
            .btns {
                display: inline-block;
                width: 96px;
                height: 40px;
                line-height: 40px;
                font-size: 15px;
                font-weight: 600;
                margin: 0 5px;
                border-radius: 5px;
            }
            .btn-submit {
                background: $greenColor;
                color: $whiteColor;
                border: solid 1px $darkgreen;
            }
            .btn-red {
                background: #ef1919;
                color: $whiteColor;
                border: solid 1px #ef1918;
            }
            .btn-darkgreen {
                color: $darkgreen;
                background: $whiteColor;
                border: solid 1px $darkgreen;
            }
        }
    }
    //.node-boxs
    .node-boxs {
        background: $whiteColor;
        .node-header {
        height: 80px;
        background: $darkgreen;
        padding: 0 30px;
        border-bottom: none;
        position: relative;
        .title {
            font-size: 24px;
            color: $whiteColor;
            line-height: 80px;
            font-weight: 600;
        }
        .icon-close {
            display: block;
            position: absolute;
            right: 30px;
            top: 50%;
            margin-top: -15px;
            width: 32px;
            height: 32px;
            background-position: -96px -96px;
            &.white-close {
                background-position: -256px -96px;
            }
        }
    }
    //.node-main
    .node-main {
        padding: 30px;
        .inputs-group {
            margin-bottom: 25px;
            .input-label {
                display: block;
                float: left;
                font-size: 14px;
                line-height: 40px;
                color: $blackColor;
                font-weight: bold;
        }
        .input-control {
            margin-left: 160px;
            .icon-impact {
                display: inline-block;
                width: 32px;
                height: 32px;
                background-position: -224px 0;
                vertical-align: middle;
            }
            .txt {
                font-size: 15px;
                color: $darkgreen;
                line-height: 40px;
                margin-left: 10px;
            }
        }
        .inputs {
            border: solid 1px $borderColor;
            height: 40px;
            border-radius: 5px;
            padding: 0 10px;
            overflow: hidden;
            input {
                display: block;
                width: 100%;
                line-height: 40px;
                background: transparent;
                font-size: 15px;
                color: $blackColor;
            }
        }
        .checkbox-wrap {
            vertical-align: top;
            margin-top: -5px;
        }
    }
    .bottom-btn {
        padding-top: 0;
        height: auto;
    }
    .radios-group {
        margin-bottom: 10px;
        .radio-wraper {
            margin-right: 40px;
        }
    }
    //.query-list
    .query-list {
        .radio-wraper {
            display: block;
            float: right;
            margin-right: 30px;
        }
    }
    //.bottom-btn
    .bottom-btn {
        .btns {
            display: block;
            float: right;
            font-size: 15px;
            font-weight: 600;
            width: 96px;
            height: 40px;
            border-radius: 3px;
            text-align: center;
            line-height: 40px;
            margin-left: 10px;
        }
        .btns-save {
            background: $greenColor;
            color: $whiteColor;
        }
        .btns-cancel {
            border: solid 1px $darkgreen;
            color: $darkgreen;
        }
    }
    .tips {
        font-size: 15px;
        color: $blackColor;
        margin-bottom: 20px;
    }
    .query-list {
        border-bottom: solid 1px $grayColor;
        border-top: solid 1px $grayColor;
        height: 400px;
        overflow-y: auto;
        margin-bottom: 15px;
        .query-view {
            border-bottom: solid 1px $grayColor;
            height: 80px;
            padding: 10px 0 10px 15px;
            &:nth-child(even) {
                background: $grayRowBgColor;
            }
            &:last-child {
                border-bottom: none;
            }
            .icons-query {
                display: block;
                float: left;
                width: 32px;
                height: 32px;
                background-position: -224px 0;
                margin-top: 15px;
                margin-right: 10px;
            }
            .checkradio-wrap {
                float: right;
                margin-right: 20px;
            }
            .txts {
                margin: 0 50px 0 55px;
                .color-black {
                    color: $blackTitleColor;
                    font-size: 15px;
                    font-weight: 600;
                    margin-bottom: 4px;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                }
                .color-gray {
                    color: $grayLabelColor;
                    font-size: 13px;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                }
            }
        }
      }
    }
  }
}

//.question-wrapper
.question-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    .btn-question {
        width: 32px;
        height: 32px;
        vertical-align: middle;
        display: inline-block;
        margin-top: 0;
        .icon-qusetion {
            width: 16px;
            height: 17px;
            background-position: -104px -71px;
        }
    }
    &:hover {
        .gray-panel {
            display: block;
            padding: 13px 16px;
            background-color: rgba(0,0,0,0.8);
            color: $whiteColor;
            position: absolute;
            left: 28px;
            top: -6px;
            width: 280px;
            font-size: 14px;
            line-height: 18px;
            border-radius: 4px;
            z-index: 888;
            &:before {
                content: '';
                position: absolute;
                left: -16px;
                top: 18px;
                display: block;
                width: 0;
                height: 0;
                border-width: 8px;
                border-style: solid;
                border-color: rgba(0,0,0,0.8) transparent transparent transparent;
                transform: rotate(90deg);
            }
        }
    }
    .gray-panel {
        display: none;
    }
}