<div class="form-section">
	<a href="javascript:;" class="btn-del right-top"
	  (click)="clickDeleteTerm()"
	  *ngIf="totalTermNumber > 1">
		<i class="icons icon-del"></i>
	</a>
	
	<div class="row-line blue-boxs">
		<div class="input-row clearfix pr60">
			<div class="items w25"
			  *ngIf="tabShowSetting['inputType']">
				<span class="label-txt">Input Type</span>
				<div ngbDropdown class="d-inline-block">
		      <button class="btn btn-outline-primary" ngbDropdownToggle
		        [ngClass]="{'default-label': inputTypeDropdownValue === 'Select'}">
		        {{inputTypeDropdownValue}}
		      </button>
		      <div ngbDropdownMenu malihu-scrollbar>
		        <button class="dropdown-item" 
		          *ngFor="let item of tabShowSetting['inputTypeDropdown'].optionList"
		          [ngClass]="{'active': inputTypeDropdownValue === item.optionName}"
              (click)="inputTypeDropdownValue = item.optionName;changeInputType(item)">
              {{item.optionName}}
            </button>
		      </div>
		    </div>
			</div>
			<div class="items w15"
			  *ngIf="subDropdownType === 'secondInputType'">
				<span class="label-txt"></span>
				<div ngbDropdown class="d-inline-block">
		      <button class="btn btn-outline-primary" ngbDropdownToggle
		        [ngClass]="{'default-label': inputTypeSecondDropdownValue === 'Select'}">
		        {{inputTypeSecondDropdownValue}}
		      </button>
		      <div ngbDropdownMenu malihu-scrollbar>
		        <button class="dropdown-item" 
		          [ngClass]="{'active': inputTypeSecondDropdownValue === 'Select'}"
              (click)="inputTypeSecondDropdownValue = 'Select';">
              Select
            </button>
            <button class="dropdown-item" 
              [ngClass]="{'active': inputTypeSecondDropdownValue === 'Option Name 1'}"
              (click)="inputTypeSecondDropdownValue = 'Option Name 1';">
              Option Name 1
            </button>
            <button class="dropdown-item" 
              [ngClass]="{'active': inputTypeSecondDropdownValue === 'Option Name 2'}"
              (click)="inputTypeSecondDropdownValue = 'Option Name 2';">
              Option Name 2
            </button>
            <button class="dropdown-item" 
              [ngClass]="{'active': inputTypeSecondDropdownValue === 'Option Name 3'}"
              (click)="inputTypeSecondDropdownValue = 'Option Name 3';">
              Option Name 3
            </button>
		      </div>
		    </div>
			</div>
			<div class="items w15"
			  *ngIf="subDropdownType === 'hierarchyType'">
				<span class="label-txt">Hierarchy Type</span>
				<div ngbDropdown class="d-inline-block">
		      <button class="btn btn-outline-primary" ngbDropdownToggle
		        [ngClass]="{'default-label': hierarchyTypeDropdownValue === 'Select'}">
		        {{hierarchyTypeDropdownValue}}
		      </button>
		      <div ngbDropdownMenu malihu-scrollbar>
		        <button class="dropdown-item"
		          [ngClass]="{'active': hierarchyTypeDropdownValue === 'Select'}"
		          (click)="hierarchyTypeDropdownValue = 'Select';">
		          Select
		        </button>
		        <button class="dropdown-item"
		          [ngClass]="{'active': hierarchyTypeDropdownValue === 'BMS Trader'}"
		          (click)="hierarchyTypeDropdownValue = 'BMS Trader';">
		          BMS Trader
		        </button>
		      </div>
		    </div>
			</div>
			<div class="items w15">
				<span class="label-txt">Function</span>
				<div ngbDropdown class="d-inline-block">
		      <button class="btn btn-outline-primary" ngbDropdownToggle
		        [ngClass]="{'default-label': functionDropdownValue === 'Select'}">
		        {{functionDropdownValue}}
		      </button>
		      <div ngbDropdownMenu malihu-scrollbar>
		        <button class="dropdown-item" 
		          *ngFor="let item of tabShowSetting['functionDropdown'].optionList"
		          [ngClass]="{'active': functionDropdownValue === item.optionName}"
              (click)="functionDropdownValue = item.optionName;">
              {{item.optionName}}
            </button>
		      </div>
		    </div>
			</div>
			<div class="items w54"
			  *ngIf="tabShowSetting['value']">
				<span class="label-txt">Value</span>
				<div ngbDropdown class="d-inline-block multi-checkbox" *ngIf="(valueDropdownType === 'list') && !showTextarea">
		      <button class="btn btn-outline-primary" ngbDropdownToggle
		        [ngClass]="{'default-label': listViewSelectedNumber === 0}">
		        {{listViewSelectedNumber === 0 ? 'Select Or Enter' : listViewSelectedNumber + ' Selected'}}
		      </button>
		      <div ngbDropdownMenu malihu-scrollbar>
		        <button class="dropdown-item"
		          *ngFor="let listItem of termsList[termIndex]['listViewData'];let i = index"
		          (click)="$event.stopPropagation();">
		          <span class="checkbox-wrap d-inline-block">
		            <input type="checkbox" 
		              id="{{'id-list-statement' + statementsIndex + '-term-' + termIndex + '-index-' + i}}"
		              [(ngModel)]="listItem['checked']"
		              (change)="checkOnList();">
		            <label for="{{'id-list-statement' + statementsIndex + '-term-' + termIndex + '-index-' + i}}">{{listItem['name']}}</label>
		          </span>
		        </button>
		      </div>
		    </div>
				<div class="auto-tree" 
		      [ngClass]="{'open': termsList[termIndex]['showTreeView']}"
		      (click)="$event.stopPropagation();"
		      *ngIf="(valueDropdownType === 'tree-level-1' || valueDropdownType === 'tree-level-2') && !showTextarea">
					<div class="inputs right-icons" [ngClass]="{'default-label': treeViewSelectedNumber === 0}">
						<input type="text" value="{{treeViewSelectedNumber === 0 ? 'Select Or Enter' : treeViewSelectedNumber + ' Selected'}}" readonly="readonly"/>
						<a href="javascript:;" class="btn-bank"
						  (click)="clickTreeIcon();">
						  <i class="icons icon-bank"></i>
						</a>
					</div>
					
					<div class="tree-boxs">
						<div class="scroll-boxs" malihu-scrollbar>
							<ul class="drop-list" [ngClass]="{'open': parentItem['expanded']}"
							  *ngFor="let parentItem of termsList[termIndex]['treeViewData'];let parentIndex = index;">
								<li>
									<a href="javascript:;" class="btn-tree" 
									  (click)="parentItem['expanded'] = !parentItem['expanded']">
										<i class="icon-trans"></i>
									</a>
									<div class="checkbox-wrap mt-16">
									  <input type="checkbox" 
									    id="{{'id-tree-statement' + statementsIndex + '-term-' + termIndex + '-parentIndex-' + parentIndex}}" 
									    [(ngModel)]="parentItem['checked']"
									    (change)="checkParentItem(parentItem);checkOnTree();">
									  <label for="{{'id-tree-statement' + statementsIndex + '-term-' + termIndex + '-parentIndex-' + parentIndex}}"></label>
									</div>
									<span class="txt">{{parentItem['name']}}</span>
									<ul>
									  <li *ngFor="let level1Item of parentItem['level1Data'];let level1Index = index;">
									    <div class="checkbox-wrap">
									      <input type="checkbox" 
									        id="{{'id-tree-statement' + statementsIndex + '-term-' + termIndex + '-parentIndex-' + parentIndex + '-level1Index-' + level1Index}}"
									        [(ngModel)]="level1Item['checked']"
									        (change)="checkLevel1Item(level1Item);checkOnTree();">
									      <label for="{{'id-tree-statement' + statementsIndex + '-term-' + termIndex + '-parentIndex-' + parentIndex + '-level1Index-' + level1Index}}">{{level1Item['name']}}</label>
									    </div>
									    <ul class="three-tree" *ngIf="valueDropdownType === 'tree-level-2'">
										    <li *ngFor="let level2Item of level1Item['level2Data'];let level2Index = index;">
										      <div class="checkbox-wrap">
										        <input type="checkbox"
										          id="{{'id-tree-statement' + statementsIndex + '-term-' + termIndex + '-parentIndex-' + parentIndex + '-level1Index-' + level1Index + '-level2Index-' + level2Index}}"
									            [(ngModel)]="level2Item['checked']"
									            (change)="checkOnTree();">
										        <label for="{{'id-tree-statement' + statementsIndex + '-term-' + termIndex + '-parentIndex-' + parentIndex + '-level1Index-' + level1Index + '-level2Index-' + level2Index}}">{{level2Item['name']}}</label>
										      </div>
										    </li>
										  </ul>
									  </li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="bottom-choose">
						  <h4 class="label-txt">Display by</h4>
						  <div class="radio-boxs">
							  <span class="radio-wraper">
								  <input type="radio" id="{{'id-display-by-node-name-statement' + statementsIndex + '-term-' + termIndex}}" 
								    name="{{'id-display-by-statement' + statementsIndex + '-term-' + termIndex}}" checked="checked">
								  <label for="{{'id-display-by-node-name-statement' + statementsIndex + '-term-' + termIndex}}">Node Name</label>
							  </span>
							  <span class="radio-wraper">
								  <input type="radio" id="{{'id-display-by-display-name-statement' + statementsIndex + '-term-' + termIndex}}" 
								    name="{{'id-display-by-statement' + statementsIndex + '-term-' + termIndex}}">
								  <label for="{{'id-display-by-display-name-statement' + statementsIndex + '-term-' + termIndex}}">Display Name</label>
							  </span>
						  </div>
					  </div>
					</div>
					<!--end .tree-boxs-->
				</div>
				<!-- .auto-tree -->
				<div class="textareas" *ngIf="showTextarea">
					<a href="javascript:;" class="icons btn-close"
					  (click)="showTextarea = false;">
					</a>
					<textarea placeholder="Enter or paste values - separated by comma" 
					  [(ngModel)]="textareaValue">
					</textarea>
					<a href="javascript:;" class="icons btn-done"
					  (click)="showTextarea = false;"
					  *ngIf="textareaValue.length > 0">
					</a>
				</div>
				<!-- .textareas -->
			</div>
			<div class="items ml5">
				<span class="label-txt"></span>
				<a href="javascript:;" class="btn-edit mt5"
				  (click)="showTextarea = true;">
					<i class="icons icon-edit"></i>
				</a>
			</div>
		</div>
		<!--end .input-row-->
		<div class="input-row clearfix dblock">
			<div class="items w25">
				<span class="label-txt">Search Type</span>
				<div class="type-module"
				  [ngClass]="{'one-status': tabShowSetting['searchTypeExplicit'] && (!tabShowSetting['searchTypeImplicit']),
				              'left': searchType === 'Explicit',
				              'right': searchType === 'Implicit'}">
				  <a href="javascript:;" class="left-txt txt"
				    (click)="searchType = 'Explicit'">
				    Explicit
				  </a>
					<a href="javascript:;" class="color-bar"
					  (click)="toggleSearchType()">
					  <i class="icon-circle" ></i>
					</a>
					<a href="javascript:;" class="right-txt txt"
					  *ngIf="!tabShowSetting['searchTypeExplicit'] || tabShowSetting['searchTypeImplicit']"
					  (click)="searchType = 'Implicit'">Implicit</a>
				</div>
				<!--edn .type-module-->
			</div>
			<div class="items w18 mr5"
			  *ngIf="(searchType === 'Implicit') && searchImplicitSetting['showImplicitSearch']">
				<span class="label-txt">Levels</span>
				<div ngbDropdown class="d-inline-block max60 drop-up">
		      <button class="btn btn-outline-primary" ngbDropdownToggle>
		        {{levelsTypeDropdownOption + ' - ' + levelsTypeDropdownRadio}}
		      </button>
		      <div ngbDropdownMenu malihu-scrollbar>
		        <button class="dropdown-item" 
		          *ngFor="let item of searchImplicitSetting['typeOptionList']"
		          (click)="levelsTypeDropdownOption = item.optionName;">
		          {{item.optionName}}
		        </button>
		        <div class="bottom-choose heightauto"
		          (click)="$event.stopPropagation();">
					    <div class="radio-boxs">
						    <span class="radio-wraper">
							    <input type="radio" id="{{'id-level-up-statement' + statementsIndex + '-term-' + termIndex}}" 
								    name="{{'id-level-statement' + statementsIndex + '-term-' + termIndex}}"
							      value="Up"
							      [(ngModel)]="levelsTypeDropdownRadio">
							    <label for="{{'id-level-up-statement' + statementsIndex + '-term-' + termIndex}}">Up</label>
						    </span>
						    <span class="radio-wraper">
							    <input type="radio" id="{{'id-level-down-statement' + statementsIndex + '-term-' + termIndex}}" 
							      name="{{'id-level-statement' + statementsIndex + '-term-' + termIndex}}"
							      value="Down"
							      [(ngModel)]="levelsTypeDropdownRadio">
							    <label for="{{'id-level-down-statement' + statementsIndex + '-term-' + termIndex}}">Down</label>
						    </span>
					    </div>
				    </div>
		      </div>
		    </div>
			</div>
			<span class="inputs block-border"
			  [ngClass]="{'error': limitInputError}" 
			  *ngIf="(searchType === 'Implicit') && searchImplicitSetting['showImplicitSearch']">
				<input type="text" [(ngModel)]="limitInputValue" (input)="onChangeInput($event)"
				  [disabled]="!searchImplicitSetting['showLevelNumber']"/>
			</span>
		</div>
		<!--end .input-row-->
		
	</div>
	<!--end .form-row-->
	<div class="bottom-border" ></div>
</div>
<!--end .form-section-->