@import '../../../styles/variables';

.top-bar {
    height: 95px;
    background-color: $whiteColor;
    display: block;
    text-align: center;
    .tab-nav {
        line-height: 1;
    }
    li {
        display: inline-block;
        &.disabled {
            pointer-events: none;
            a.items {
                font-weight: normal;
            }
        }
        a {
            &.items {
                font-size: 20px;
                font-weight: normal;
                text-transform: uppercase;
                display: block;
                height: 95px;
                line-height: 95px;
                color: $lightGrayLabelColor;
                padding: 0 13px;
                &:hover,
                &.current {
                    color: $darkgreen;
                    font-weight: bold;
                    box-shadow: 0 -5px $greenColor inset;    
                }
            }
        }
        &:last-child {
            a {
                &.items {
                    padding: 0 50px;
                }
            }
        }
    }
}

/* .tab-content */
.tab-content {
    padding: 24px;
    .tabs-btns {
        border-bottom: solid 1px $grayColor;
        height: 56px;
        position: relative;
        .btns {
            display: block;
            position: absolute;
            top: 0;
            height: 56px;
            width: 40px;
            background: $grayColor;
            &.disabled {
                opacity: 0.6;
            }
        }
        .btn-prev {
            left: 0;
        }
        .btn-next {
            right: 0;
        }
        .icons {
            display: block;
            width: 24px;
            height: 24px;
            margin: 16px auto;
        }
        .icon-prev {
            background-position: -295px -68px;
            transform: rotate(-180deg);
        }
        .icon-next {
            background-position: -292px -68px;
        }
        .shadows {
            display: block;
            z-index: 1000;
            position: absolute;
            top: 0;
            width: 56px;
            height: 56px;
            &.rights {
                right: 40px;
                background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.8));
            }
        }
        .tabs {
            margin: 0 44px;
            overflow-x: auto;
        }
        .tabs-links {
            width: 1632px;
            height: 56px;
            overflow-y: hidden;
            .tabs-a {
                font-size: 15px;
                color: $lightGrayLabelColor;
                width: 168px;
                text-align: center;
                height: 56px;
                line-height: 56px;
                margin: 0 4px;
                display: block;
                float: left;
                background: $grayRowBgColor;
                &.active {
                    color: $darkgreen;
                    font-weight: bold;
                    background: $whiteColor;
                    border: solid 1px $grayColor;
                    border-bottom: solid 1px $whiteColor;
                }
            }
        }
    }
}
