@import '../../../styles/variables';

//.footer
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $whiteColor;
    height: 80px;
    padding: 0 32px 0 0;
    .left-logo {
        height: 80px;
        line-height: 80px;
        .logo-btn {
            height: 80px;
            background-color: $whiteColor;
            float: left;
            vertical-align: middle;
            padding: 0 30px 0 30px;
            img {
                width: 63px;
                height: 48px;
            }
            .txt-area {
                display: inline-block;
                vertical-align: middle;
                line-height: 1;
                margin-left: 10px;
                .green-txt {
                    font-size: 36px;
                    color: $greenColor;
                }
                .gray-txt {
                    color: $grayLabelColor;
                    font-size: 12px;
                    display: block;
                    text-transform: uppercase;
                }
            }
        }
    }
    .right-area {
        .copy-txt {
            font-size: 14px;
            color: $grayLabelColor;
        }
    }
}