<mat-card *ngIf="model">
    <mat-card-header>
        <mat-card-title><h2>Login</h2></mat-card-title>
      </mat-card-header>  
    <mat-card-content>
        <form #f="ngForm" name="form" class="mat-form">
            <mat-form-field>
                <input matInput 
                  name="userName"
                  #userName="ngModel"
                  [(ngModel)]="model.userName" 
                  placeholder="Login"
                  required>              
                <mat-error *ngIf="userName.invalid">Invalid login.</mat-error>
            </mat-form-field> 
            <mat-form-field>
                <input matInput 
                  name="password"
                  #password="ngModel"
                  [(ngModel)]="model.password" 
                  placeholder="Password"
                  required
                  type="password">              
                <mat-error *ngIf="password.invalid">Invalid password.</mat-error>
            </mat-form-field>           
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" 
                [disabled]="!f.valid" 
                (click)="onLogin()">Login</button>
    </mat-card-actions>
</mat-card>
      