@import '../../../styles/variables';

/* .cover-layer */
.cover-layer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 9998;
}

/* .fixed-right */
.fixed-right {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: $whiteColor;
    width: 504px;
    z-index: 9999;
    .titles {
        font-size: 20px;
        color: $blackColor;
        padding: 30px 60px 30px 20px;
        position: relative;
        .icon-close {
            display: block;
            position: absolute;
            right: 20px;
            top: 26px;
            width: 32px;
            height: 32px;
            background-position: -96px -96px;
        }
    }
    //.tabs
    .tabs {
        height: 72px;
        border-top: solid 1px $grayColor;
        border-bottom: solid 1px $grayColor;
        overflow: hidden;
        .tabs-link {
            display: block;
            float: left;
            width: 33.3333%;
            padding: 10px;
            border-right: solid 1px $grayColor;
            height: 80px;
            &:last-child {
                border-right: none;
            }
            .icons {
                width: 24px;
                height: 24px;
                display: block;
                margin: 0 auto 5px;
            }
            .icon-completed {
                background-position: -198px -175px;
            }
            .icon-processing {
                background-position: -270px -173px;
            }
            .icon-failed {
                background-position: -165px -174px;
            }
            .txts {
                display: block;
                text-align: center;
                font-size: 15px;
                color: $darkgreen;
            }
            &.active {
                background: $grayColor;
                .txts {
                    color: $blackColor;
                    font-weight: bold;
                }
                .icon-completed {
                    background-position: -233px -176px;
                }
                .icon-processing {
                    background-position: -314px -173px;
                }
                .icon-failed {
                    background-position: -131px -173px;
                }
            }
        }
    }
  
//.question-wrapper
.question-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    .btn-question {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        display: inline-block;
        .icon-qusetion {
            width: 16px;
            height: 17px;
            background-position: -104px -71px;
        }
    }
    &:hover {
        .gray-panel {
            display: block;
            padding: 13px 16px;
            background-color: rgba(0,0,0,0.8);
            color: $whiteColor;
            position: absolute;
            left: 28px;
            top: -16px;
            width: 280px;
            font-size: 14px;
            line-height: 18px;
            border-radius: 4px;
            z-index: 888;
            &:before {
                content: '';
                position: absolute;
                left: -15px;
                top: 18px;
                display: block;
                width: 0;
                height: 0;
                border-width: 8px;
                border-style: solid;
                border-color: rgba(0,0,0,0.8) transparent transparent transparent;
                transform: rotate(90deg);
            }
        }
    }
    .gray-panel {
        display: none;
    }
    &.tips-wrap {
        display: inline-block;
        vertical-align: middle;
        &:hover {
            .gray-panel {
                left: -218px;
                top: 105%;
                background-color: rgba(0,0,0,0.8);
                &:before {
                    transform: rotate(-180deg);
                    left: auto;
                    right: 42px;
                    top: -14px;
                    border-width: 7px;
                }
            }
        }
    }
}
  
  
    //.query-list
    .query-list {
        .query-view {
            border-bottom: solid 1px $grayColor;
            padding: 15px 10px 15px 20px;
            height: 96px;
            .btn-group {
                float: right;
                margin-top: 16px;
                position: relative;
                .edit-tips {
                    display: block;
                    position: absolute;
                    right: 14px;
                    top: 30px;
                    width: 280px;
                    background: black;
                    padding: 10px;
                    border-radius: 5px;
                    color: $whiteColor;
                    font-size: 14px;
                    color: $whiteColor;
                    z-index: 99;
                    &:after {
                        bottom: 100%;
                        left: 50%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(0, 0, 0, 0);
                        border-bottom-color: black;
                        border-width: 6px;
                        margin-left: 84px;
                    }
                }
            }
            .icons {
                width: 24px;
                height: 24px;
                display: inline-block;
                margin-right: 14px;
            }
            .icon-eye {
                background-position: -261px -139px;
            }
            .icon-delete {
                background-position: -166px -68px;
            }
            .icon-tips {
                background-position: -326px -140px;
            }
            .icon-edit {
                background-position: -231px -138px;
            }
            .icon-refresh {
                background-position: -295px -138px;
            }
            .txts {
                margin-right: 170px;
                .color-black {
                    display: block;
                    font-size: 15px;
                    color: $blackColor;
                    margin-bottom: 3px;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                }
                .color-gray {
                    display: block;
                    font-size: 13px;
                    color: $grayLabelColor;
                    margin-bottom: 2px;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                }
            }
        }
    }
}