/* variable */
$whiteColor: #fff;
$darkGrayColor: #333;
$grayColor: #e6e7e8;
$grayLabelColor: #808285;
$lightGrayLabelColor: #939598;
$lightGrayColor: #999;
$greenColor: #007d84;
$darkgreen: #005b66;
$blackColor: #2b2c2e;
$blackTitleColor: #3b3c3e;
$grayRowBgColor: #f1f2f2;
$borderColor: #d1d3d4;
$lightGrayBgColor: #d9eced;
$defaultLabelColor: #bcbec0;
$greenLabelColor: #00b2ac;